@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --white: #fff;
  --light: #bebebe;
  --blue: #0085FF;
  --blue-light: #ddeefd;
  --red: #FF0000;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
